.layout {
    width: 100%;
    height: 100%;
  }
  .content {
    display: flex;
    flex-direction: column;
    margin: 0 16px 16px;
    min-height: 280px;
  }
  .breadcrumb {
    flex: 0 0 auto;
    margin: 16px 0;
  }
  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }
  .logo {
    height: 32px;
    background: #1890ff;
    margin: 16px;
  }
  
  /* dark theme */
  .sider {
    background: #FAFAFA;
  }
  
  