.component-login {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(-90deg, #845ec2, #2c73d2, #008e9b);
  .login-card {
    background: #ffffff33;
    border-radius: 3px;
    width: 300px;
    padding: 40px;
    h2 {
      text-align: center;
      background-image: linear-gradient(to right, #008e9b, #845ec2);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      user-select: none;
    }
  }
  .login-form-button {
    width: 100%;
  }
}
