.component-404 {
  width: 100%;
  height: 100%;
  background: #000;
  h1 {
    font-family: monospace, monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  }

  [class*="text"] {
    width: 100%;
    min-height: 25%;
    text-align: center;
  }

  [class*="text"],
  .container {
    display: block;
    position: relative;
    float: left;
  }

  .center-text-box {
    width: auto;
    padding: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  [class*="center"],
  [class*="four"],
  .zero,
  .face {
    display: block;
    position: absolute;
  }

  [class*="center-numb"] {
    width: 150px;
    height: 200px;
  }

  [class*="center-numb"],
  .face {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  [class*="four"] {
    background: #fff;
    width: 10px;
    bottom: 0;
    right: 0;
    border-radius: 5px;
  }

  .center-numb-box_zero:before,
  .center-numb-box_zero:after,
  .zero:before,
  .zero:after,
  [class*="four"]:before,
  [class*="four"]:after,
  .face:before,
  .face:after {
    background: #fff;
    display: block;
    position: absolute;
    content: "";
    border-radius: 5px;
  }

  [class*="four"]:before {
    height: 10px;
    top: 72%;
    left: -138px;
    transform: translate(0, -72%);
  }

  [class*="four"]:after {
    width: 10px;
    transform: rotate(45deg);
  }

  .text-error h1 {
    animation: typing 0s steps(40);
  }

  .container {
    width: 33.33333%;
    min-height: 50%;
  }

  .four_one {
    animation: height 0s 0s linear both;
  }
  .four_one:before {
    animation: horizontal 0s 0s linear both;
  }
  .four_one:after {
    animation: diagonal 0s 0s linear both;
  }

  .center-numb-box_zero:before {
    width: 10px;
    top: 0;
    right: 0;
    animation: height 0s 0s linear both;
  }

  .center-numb-box_zero:after {
    width: 10px;
    bottom: 0;
    left: 0;
    animation: height 0s 0s linear both;
  }

  .zero {
    width: 100%;
    height: 100%;
  }

  .zero:before {
    height: 10px;
    top: 0;
    left: 0;
    animation: width 0s 0s linear both;
  }

  .zero:after {
    height: 10px;
    bottom: 0;
    right: 0;
    animation: width 0s 0s linear both;
  }

  .face {
    height: 30px;
    border-radius: 50%;
    animation: mouth-sad 0s 0s linear both;
  }

  .face:before,
  .face:after {
    height: 2px;
    top: -25px;
  }

  .face:before {
    left: 0;
    animation: eye-sad 0s 0s linear both;
  }
  .face:after {
    right: 0;
    animation: eye-sad 0s 0s linear both;
  }

  .four_two {
    animation: height 0s 0s linear both;
  }
  .four_two:before {
    animation: horizontal 0s 0s linear both;
  }
  .four_two:after {
    animation: diagonal 0s 0s linear both;
  }

  .text-page-not-found h1 {
    width: 0;
    animation: typing 0s 0s steps(40) both;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes width {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes height {
    from {
      height: 0;
    }
    to {
      height: 100%;
    }
  }

  @keyframes horizontal {
    from {
      width: 0;
    }
    to {
      width: 160px;
    }
  }

  @keyframes diagonal {
    from {
      height: 0;
      top: 0;
      left: 0;
    }
    to {
      height: 204px;
      top: -30px;
      left: -69px;
    }
  }

  @keyframes mouth-sad {
    from {
      width: 0;
      border-top: 4px solid #000;
    }
    to {
      width: 50px;
      border-top: 4px solid #fff;
    }
  }

  @keyframes eye-sad {
    from {
      width: 0;
    }
    to {
      width: 15px;
    }
  }

  @media (max-width: 600px) {
    .container,
    .text-error,
    .text-page-not-found {
      transform: scale(0.5, 0.5);
    }
  }
}
