.post-edit {
    .tags {
        margin-top: 30px;
        user-select: none;
        .tag {
            margin-bottom: 8px;
        }
    }
    .editor {
        margin-top: 30px;
        height: 600px;
    }
}