.post-list {
  position: relative;
  height: 100%;
  color: #999;
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    user-select: none;
    padding-bottom: 20px;
    background: #fff;

    z-index: 2;
    .icon {
      color: #999;
      padding: 5px;
      &.active {
        color: #000;
      }
    }
  }
  .fragment {
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    overflow-y: scroll;
    margin-top: 0;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .status {
    padding: 5px;
    cursor: pointer;
    &.active {
      color: #000;
    }
  }

  .date {
    margin-bottom: 20px;
  }
  .pagination {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding-top: 20px;
    background: #fff;
    text-align: right;
    z-index: 2;
  }
}
