.header {
  background: #fff !important;
  padding-left: 0;
}
.trigger {
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}
.user {
  width: 80px;
  cursor: pointer;
}
